h2{
  text-align: center;
}

#coins {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#coins td, #coins th {
  border: 1px solid #ddd;
  padding: 8px;
}

#coins tr:nth-child(even){background-color: #f2f2f2;}

#coins tr:hover {background-color: #ddd;}

#coins th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

div.pagination {
  text-align: center;
}
